{% extends 'scientificWork/template_main.html' %}
{% load staticfiles %}
{% block title %}Добавление публикации{% endblock %}
{% block pagename %}Добавление публикации{% endblock %}
{% block content %}
{% if st == 0 %}
<form role="form" action="{% url 'addPublication' %}" >
<div class="row">
    <div class="col-md-3">
        <label for="text">Название публикации</label>
        <input type="text" name="bookName" class="form-control" placeholder="Название публикации" required>

    <br/>
        <label>Тип публикации</label>
        <select id="disabledSelect" name="type" class="form-control">
            <option value="guidelines">Методическое указание</option>
            <option selected value="book">Книга</option>
            <option value="journal">Статья в журнале</option>
            <option value="compilation">Конспект лекции/сборник докладов</option>
            <option value="collection">Сборник трудов</option>
        </select>
    <br/>
        <label>Дата издания</label>
        <input type="date" name="date" class="form-control" placeholder="ГГГГ-ММ-ДД" required>
    <br/>
        <label>Издательство</label>
        <input type="text" name="publishingHouseName" class="form-control" value="СПбГЭТУ ЛЭТИ" required>
    <br/>
        <label>Место издания</label>
        <input type="text" name="place" class="form-control" value="Санкт-Петербург" required>
    <br/>
        <label>Объём</label>
        <div class="row">
        <div class="col-md-8">
        <input type="text" name="volume" class="form-control" value="0" required>
        </div>
        <div class="col-md-4">
        <input type="text" name="unitVolume" class="form-control" value="слов" required>
        </div></div>
    <br/>
        <label>Тираж</label>
        <input type="text" name="edition" class="form-control" value="1" required>
    <br/>
        <label>База цитирования</label>
        <select id="disabledSelect" name="citingBase" class="form-control">
            <option value="nil" selected>отсутствует</option>
            <option value="wos">Web of Science</option>
            <option value="scp">Scopus</option>
        </select>
    </div>

</div>
    <hr>
    <div class="col-md-2">
<button type="submit" class="btn btn-success btn-md"  >Добавить</button>
    </div>
</form>
    <div class="col-md-2">
     <form role="form" action="{% url 'lk' %}" ><button type="submit" class="btn btn-danger btn-md"  >Отмена</button></form>
    </div>
{% endif %}
{% if st == 1 %}
    <h4>Публикация успешно добавлена</h4>
    <hr>
    <div class="row">
        <div class="col-md-3"><form role="form" action="{% url 'addPublication' %}" ><button type="submit" class="btn btn-default btn-md"  >Добавить еще одну публикацию</button></form></div>
        <div class="col-md-3"><form role="form" action="{% url 'lk' %}" ><button type="submit" class="btn btn-default btn-md"  >Вернуться в личный кабинет</button></form></div>
    </div>
{% endif %}
{% endblock %}
