{% extends 'scientificWork/template_main.html' %}
{% load staticfiles %}
{% block title %}Авторизация{% endblock %}
{% block pagename %}Авторизация{% endblock %}
{% block content %}
      <form id="login_form" role="form" method="post"  action="/scientificWork/login/">
      <div class="row">
        <div class="col-md-3">
            {% csrf_token %}
          <label>Имя пользователя:</label>
            <input type="text" class="form-control" name="username" value="" size="50" />
            <br />
            <label>Пароль: </label>
            <input type="password" class="form-control" name="password" value="" size="50" />
            <br />

            <button type="submit" class="btn btn-success btn-md" value="submit" > Ввод </button>
        </div>
      </div>
        </form>

    
{% endblock %}
