{% extends 'scientificWork/template_main.html' %}
{% load staticfiles %}
{% block title %}Публикации{% endblock %}
{% block pagename %}<div class="row">
    <div class="col-lg-2" >Публикации<br/></div>
        {% if user.is_superuser %}<div class="col-lg-2" ><form action="{% url 'addPublication' %}"><button type="submit" class="btn btn-default btn-sm"  >Добавить</button></form></div>
        {% endif %}
</div>{% endblock %}
{% block content %}
    <div class="row">
      <div class="col-lg-7" >Название</div>
      <div class="col-lg-2" >Тип</div>
      <div class="col-lg-1" > Автор</div>
      <div class="col-lg-1" > Дата</div>
    </div>
    <hr>
    <ul>
    {% for pub in o %}
        <div class="row">
          <div class="col-lg-7" ><li>{{ pub.bookName }}{% for x in pub.f %}<br><a href="{{ x.media_file.url }}" download="">{{ x.media_file.name }}</a>{% if user.is_superuser %}
              <form action="{% url 'publications' %}"><button type="submit" class="btn btn-default btn-xs" name="deleteFile" value="{{ x.id }}" >Удалить</button></form>
          {% endif %}{% endfor %}
              {% if user.is_superuser %}<br><a href="{% url "upload_file" %}?pub={{ pub.id }}">Прикрепить</a>{% endif %}</li></div>
          <div class="col-lg-2" >{{ pub.type }}</div>
          <div class="col-lg-1" >{{ pub.author }}</div>
          <div class="col-lg-1" >{{ pub.date }}</div>
            {% if user.is_superuser %}
            <div class="col-lg-1" ><form action="{% url 'publications' %}"><button type="submit" class="btn btn-default btn-xs" name="deleteBook" value="{{ pub.id }}" >Удалить</button></form></div>
            {% endif %}
        </div>
    {% endfor %}
    </ul>
    <br/>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Фильтр</h3>
    </div>
    <div class="panel-body">
        <form role="form" action="{% url 'publications' %}" >
            <div class="row">
                <div class="col-md-3">
                    <label for="exampleInputEmail1">Название</label>
                    <input type="text" name="bookName" class="form-control" placeholder="Название публикации">
                </div>
                <div class="col-md-3">
                    <label for="exampleInputEmail1">Дата издания</label>
                    <input type="date" name="date" class="form-control" placeholder="ГГГГ-ММ-ДД">
                </div>
                <div class="col-md-3">
                    <label for="exampleInputEmail1">Автор</label>
                    <input type="text" class="form-control" placeholder="Имя автора"  name="author">
                </div>
                <div class="col-md-3">
                    <label for="exampleInputEmail1">Тип публикации</label>
                    <select id="disabledSelect" name="type" class="form-control">
                        <option value="all">Все</option>
                        <option value="guidelines">Методическое указание</option>
                        <option value="book">Книга</option>
                        <option value="journal">Статья в журнале</option>
                        <option value="compilation">Конспект лекции/сборник докладов</option>
                        <option value="collection">Сборник трудов</option>
                    </select>
                </div>
                <br/>
                <div class="col-md-12 text-center filter_button">
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Применить фильтр</button>
                </div>
            </div>
        </form>
    </div>
</div>
<a href= "{% static "Publications.docx" %}" download="">скачать отчет docx</a>
    <br/>
<a href= "{% static "Publications.xlsx" %}" download="">скачать отчет xlsx</a>

{% endblock %}
