{% extends 'scientificWork/template_main.html' %}
{% block title %}Регистрация{% endblock %}
{% block pagename %}Регистрация{% endblock %}
{% block content %}
<form role="form" method='post' action="{% url 'registration' %}" >
{% csrf_token %}
    <div class="row">
    <div class="col-md-3">
        <label for="text">Имя пользователя</label>
        <input type="text" name="username" class="form-control" placeholder="Имя пользователя" required>
        <label for="password">Пароль</label>
        <input type="password" name="password" class="form-control" placeholder="Пароль" required>
        {{ q.h }}
    </div>
    </div>
    <button type="submit" class="btn btn-success btn-md"  >Добавить</button>
</form>
    <p>{{ username }}</p>
{% endblock %}
