{% extends 'scientificWork/template_main.html' %}
{% block title %}Сотрудники{% endblock %}
{% block pagename %}Сотрудники{% endblock %}
{% block content %}
    <div class="row">
      <div class="col-lg-8" >Сотрудник</div>
      <div class="col-lg-2" > Должность</div>
      <div class="col-lg-2" > Уч.степень</div>
    </div>
    <hr>
    {% for emp in s %}

        <div class="row">
          <div class="col-lg-8" ><p>{{ emp.patronymic }}</p></div>

          <div class="col-lg-2" ><p>{{  emp.typestr }}</p></div>
          <div class="col-lg-2" ><p>{{ emp.academic_degreestr }}</p></div>
        </div>
    {% endfor %}
    <hr>
    <br/>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Фильтр</h3>
    </div>
    <div class="panel-body">
        <form role="form">
            <div class="row">
                <div class="col-md-3">
                    <label for="exampleInputEmail1">Какое-то поле</label>
                    <input type="email" class="form-control" placeholder="Какое-то поле">
                </div>
                <div class="col-md-3">
                    <label for="exampleInputEmail1">Какое-то поле</label>
                    <input type="email" class="form-control" placeholder="Какое-то поле">
                </div>
                <div class="col-md-3">
                    <label for="exampleInputEmail1">Какое-то поле</label>
                    <input type="email" class="form-control" placeholder="Какое-то поле">
                </div>
                <div class="col-md-3">
                    <label for="exampleInputEmail1">Какое-то поле</label>
                    <input type="email" class="form-control" placeholder="Какое-то поле">
                </div>
                <div class="col-md-3">
                    <label for="exampleInputEmail1">Какое-то поле</label>
                    <select id="disabledSelect" class="form-control">
                        <option>Первый пункт</option>
                        <option>Второй пункт</option>
                        <option>Третий пункт</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="exampleInputEmail1">Какое-то поле</label>
                    <select id="disabledSelect" class="form-control">
                        <option>Первый пункт</option>
                        <option>Второй пункт</option>
                        <option>Третий пункт</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="exampleInputEmail1">Какое-то поле</label>
                    <select id="disabledSelect" class="form-control">
                        <option>Первый пункт</option>
                        <option>Второй пункт</option>
                        <option>Третий пункт</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="exampleInputEmail1">Какое-то поле</label>
                    <select id="disabledSelect" class="form-control">
                        <option>Первый пункт</option>
                        <option>Второй пункт</option>
                        <option>Третий пункт</option>
                    </select>
                </div>
                <br/>
                <div class="col-md-12 text-center filter_button">
                    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Применить фильтр</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
