{% extends 'scientificWork/template_main.html' %}
{% load staticfiles %}
{% block title %}Сотрудники{% endblock %}
{% block pagename %}Сотрудники{% endblock %}
{% block content %}
    <div class="row">
      <div class="col-lg-8" >Сотрудник</div>
      <div class="col-lg-2" > Должность</div>
      <div class="col-lg-2" > Уч.степень</div>
    </div>
    <hr>
    {% for emp in s %}

        <div class="row">
          <div class="col-lg-8" ><p>{{ emp.patronymic }}</p></div>

          <div class="col-lg-2" ><p>{{  emp.typestr }}</p></div>
          <div class="col-lg-2" ><p>{{ emp.academic_degreestr }}</p></div>
        </div>
    {% endfor %}
    <hr>
    <br/>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Фильтр</h3>
    </div>
    <div class="panel-body">

                </div>
                <div class="col-md-3">
                    <label for="position">Должность</label>
                    <select name="position" class="form-control">
                        <option value="">Любая</option>
                        <option value="s">Студент</option>
                        <option value="a">Ассистент</option>
                        <option value="t">Старший преподаватель</option>
                        <option value="d">Доцент</option>
                        <option value="p">Профессор</option>
                    </select>
                </div>
                <div class="col-md-3">

                    </select>
                </div>
            </div>
            <div><hr></div>
            <div class="row">
                <div class="col-md-3">
 </div>
                <div class="col-md-3">

                </div>
                <div class="col-md-3">

                </div>

                </div>
            </div>
        </form>
    </div>
</div>
    <a href= "{% static "Staff.docx" %}" download="">скачать отчет docx</a>
    <br/>
    <a href= "{% static "Staff.xlsx" %}" download="">скачать отчет xlsx</a>
{% endblock %}
