{% extends 'scientificWork/template_main.html' %}
{% load staticfiles %}
{% block title %}Сотрудники{% endblock %}
{% block pagename %}Сотрудники{% endblock %}
{% block content %}
    <div class="row">
      <div class="col-lg-4" >Сотрудник</div>
      <div class="col-lg-2" >Тип</div>
      <div class="col-lg-2" >Уч.степень</div>
      <div class="col-lg-2" >Уч.звание</div>
      <div class="col-lg-2" >Дата контракта</div>
    </div>
    <hr>
    {% for emp in s %}

        <div class="row">
          <div class="col-lg-4" ><p>{{ emp.name }}</p></div>
          <div class="col-lg-2" ><p>{{  emp.type }}</p></div>
          <div class="col-lg-2" ><p>{{ emp.academic_degree }}</p></div>
          <div class="col-lg-2" ><p>{{ emp.academic_status }}</p></div>
          <div class="col-lg-2" ><p>{{ emp.contract_date }}</p></div>
        </div>
    {% endfor %}
    <hr>
    <br/>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Фильтр</h3>
    </div>
    <div class="panel-body">
        <!--<form role="form">-->
        <form role="form" action="{% url 'staff' %}" >
            <div class="row">
                <div class="col-md-3">
                    <label for="exampleInputEmail1">Имя</label>
                    <input type="text" name="name" class="form-control" placeholder="имя">
                </div>
                <div class="col-md-3">
                    <label for="exampleInputEmail1">Дата контракта</label>
                    <input type="text" name="contract_date" class="form-control" placeholder="ГГГГ-ММ-ДД">
                </div>
                <!--<div class="col-md-3">
                    <label for="exampleInputEmail1">Какое-то поле</label>
                    <input type="email" class="form-control" placeholder="Какое-то поле">
                </div>
                <div class="col-md-3">
                    <label for="exampleInputEmail1">Какое-то поле</label>
                    <input type="email" class="form-control" placeholder="Какое-то поле">
                </div>-->
                <div class="col-md-3">
                    <label for="exampleInputEmail1">Тип</label>
                    <select id="disabledSelect" class="form-control" name="type" >
                        <option value="all">Все</option>
                        <option value="a">Администратор</option>
                        <option value="s">Студент</option>
                        <option value="t">Преподаватель</option>
                        <option value="h">Староста</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="exampleInputEmail1">Уч.степень</label>
                    <select id="disabledSelect" class="form-control" name="academic_degree">
                        <option value="all">Все</option>
                        <option value="n">Без степени</option>
                        <option value="t">Кандидат наук</option>
                        <option value="d">Доктор наук</option>
                    </select>
                </div>
                <!--<div class="col-md-3">
                    <label for="exampleInputEmail1">Какое-то поле</label>
                    <select id="disabledSelect" class="form-control">
                        <option>Первый пункт</option>
                        <option>Второй пункт</option>
                        <option>Третий пункт</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="exampleInputEmail1">Какое-то поле</label>
                    <select id="disabledSelect" class="form-control">
                        <option>Первый пункт</option>
                        <option>Второй пункт</option>
                        <option>Третий пункт</option>
                    </select>
                </div>-->
                <br/>
                <div class="col-md-12 text-center filter_button">
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Применить фильтр</button>
                </div>
            </div>
        </form>
    </div>
</div>
    <a href= "{% static "Staff.docx" %}" download="">скачать отчет docx</a>
    <br/>
    <a href= "{% static "Staff.xlsx" %}" download="">скачать отчет xlsx</a>
{% endblock %}
